<h1 md-dialog-title>{{title}}</h1>
<form [formGroup]="farmerInfo" md-dialog-content fxLayout fxLayoutWrap fxLayoutGap="8px">
  <md-input-container fxFlex="calc(50% - 8px)">
    <input mdInput i18n-placeholder placeholder="Họ và chữ lót" formControlName="firstName" required>
    <md-error>{{formErrors.firstName}}</md-error>
  </md-input-container>
  <md-input-container fxFlex="calc(50% - 8px)">
    <input mdInput i18n-placeholder placeholder="Tên" formControlName="lastName" required>
    <md-error>{{formErrors.lastName}}</md-error>
  </md-input-container>
  <md-input-container fxFlex="calc(50% - 8px)">
    <input mdInput i18n-placeholder placeholder="Mã ND" formControlName="farmerCode" required>
    <md-error>{{formErrors.farmerCode}}</md-error>
  </md-input-container>
  <md-input-container fxFlex="calc(50% - 8px)">
    <input mdInput i18n-placeholder placeholder="Số điện thoại" formControlName="phone" required>
    <md-error>{{formErrors.phone}}</md-error>
  </md-input-container>
  <md-input-container fxFlex="calc(50% - 8px)">
    <input mdInput i18n-placeholder placeholder="Email" formControlName="email">
  </md-input-container>
  <app-location [formGroup]="farmerInfo.get('address')" fxFlex="calc(100% - 8px)" fxLayout fxLayoutWrap>
    <md-input-container fxFlex="100%">
      <input mdInput i18n-placeholder placeholder="Address" formControlName="street" required>
    </md-input-container>
  </app-location>
</form>
<div md-dialog-actions align="end">
  <button md-raised-button (click)="farmerInfo.valid && saveFarmer()">
    <md-icon>save</md-icon>
    <!--i18n-->Save<!--/i18n-->
  </button>
  <button md-button md-dialog-close>
    <md-icon>cancel</md-icon>
    <!--i18n-->Cancel<!--/i18n-->
  </button>
</div>
