<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Taba Support</title>
    <base th:href="@{/}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" th:src="@{assets/inline.bundle.js}"></script>
    <script type="text/javascript" th:src="@{assets/polyfills.bundle.js}"></script>
    <script type="text/javascript" th:src="@{assets/styles.bundle.js}"></script>
    <script type="text/javascript" th:src="@{assets/vendor.bundle.js}"></script>
    <script type="text/javascript" th:src="@{assets/main.bundle.js}"></script>
</body>
</html>
