<md-toolbar color="primary" class="mat-elevation-z4">
  <md-toolbar-row fxLayoutGap="10px">
    <span>Vườn Ươm</span>
    <md-icon>chevron_right</md-icon>
    <span fxFlex>{{title}}</span>
    <button md-raised-button (click)="goBack()">
      <md-icon>arrow_back</md-icon>
      <!--i18n-->Quay lại<!--/i18n-->
    </button>
  </md-toolbar-row>
</md-toolbar>
<section *ngIf="nurseryAction" fxLayout fxLayoutWrap>
  <md-card class="app-content" fxFlex="calc(50% - 32px)">
    <p fxLayout>
      Hoạt động
      <span fxFlex></span>
      <span>{{nurseryAction.actionName}}</span>
    </p>
    <p fxLayout>
      <span>Ngày cập nhật</span>
      <span fxFlex></span>
      <span>{{nurseryAction.actionUpdateDate | date:'shortDate'}}</span>
    </p>
    <p fxLayout>
      Người cập nhật
      <span fxFlex></span>
      <span>{{registration.responsibilityEmployee.fullName}}</span>
    </p>
    <p fxLayout>
      Ngày thực hiện
      <span fxFlex></span>
      <span>{{nurseryAction.actionDate | date:'shortDate'}}</span>
    </p>
    <p fxLayout>
      Hiện trạng
      <span fxFlex></span>
      <span>{{nurseryAction.target}}</span>
    </p>
    <p fxLayout>
      Khuyến cáo
      <span fxFlex></span>
      <span>{{nurseryAction.targetResult}}</span>
    </p>
  </md-card>
  <md-card class="app-content" fxFlex="calc(50% - 32px)">
    <md-card-title>Vị trí</md-card-title>
    <md-card-content>
      <app-mini-map [location]="{lat: nurseryAction.coordX, lng: nurseryAction.coordY}" (click)="openMapPopup()"></app-mini-map>
    </md-card-content>
  </md-card>
  <md-card *ngIf="nurseryAction.action != NurseryAction.LeafCutting" class="app-content" fxFlex="calc(50% - 32px)">
    <md-card-content *ngIf="nurseryAction.action == NurseryAction.PesticidesSpraying">
      <md-data-table
        [data]="nurseryAction.contents"
        fxFlex>
        <md-table-header i18n-title title="Chi tiết {{nurseryAction.actionName}}"></md-table-header>
        <md-data-column i18n-title title="Tên thuốc" field="materialName"></md-data-column>
        <md-data-column i18n-title title="Liều lượng" field="quantity" [numeric]="true">
          <ng-template let-row="mdTableCellModel">
            {{row['quantity']}} {{row['materialUnit']}}
          </ng-template>
        </md-data-column>
      </md-data-table>
    </md-card-content>
    <md-card-content *ngIf="nurseryAction.action == NurseryAction.Pest">
      <md-data-table
        [data]="nurseryAction.contents"
        fxFlex>
        <md-table-header i18n-title title="Chi tiết {{nurseryAction.actionName}}"></md-table-header>
        <md-data-column i18n-title title="Tên côn trùng" field="pestName"></md-data-column>
        <md-data-column i18n-title title="Tỉ lệ" field="ratio" [numeric]="true"></md-data-column>
      </md-data-table>
    </md-card-content>
  </md-card>
  <md-card class="app-content" fxFlex="calc(50% - 32px)">
    <md-grid-list cols="2">
      <md-grid-tile *ngFor="let m of nurseryAction.medias">
        <img *ngIf="isImage(m.file.type)" src="{{getMediaFileUrl(m.fileId)}}"
             [style.max-width.%]="100" [style.max-height.%]="100" [style.cursor]="'pointer'"
             (click)="openImagePopup(getMediaFileUrl(m.fileId))">
        <ng-container *ngIf="isVideo(m.file.type)">
          <img src="/assets/images/video-thumbnail.png"
               [style.max-width.%]="100" [style.max-height.%]="100" [style.cursor]="'pointer'"
               (click)="openVideoPopup(getMediaFileUrl(m.fileId))">
        </ng-container>
        <a *ngIf="!isImage(m.file.type) && !isVideo(m.file.type)" [href]="getMediaFileUrl(m.fileId)" target="_blank">
          <img src="/assets/images/unknown-file-type.jpg"
               [style.max-width.%]="100" [style.max-height.%]="100">
        </a>
      </md-grid-tile>
    </md-grid-list>
  </md-card>
</section>
