<form (ngSubmit)="getCodeForm.form.valid && getCode()" #getCodeForm="ngForm"
      fxLayout="column" style="align-items: center; margin-bottom: 45px;">
  <md-input-container>
    <input mdInput type="email" name="email" i18n-placeholder placeholder="Email" i18n-title title="Email" [(ngModel)]="email" required maxlength="20">
    <md-hint align="end">{{email && email.length || 0}}/20</md-hint>
  </md-input-container>
  <button md-raised-button type="submit" [disabled]="!getCodeForm.form.valid">Lấy mã xác nhận</button>
</form>

<a href="javascript:void(0);" *ngIf="!getCodeSubmitted" (click)="getCodeSubmitted = true">Đã có code</a>
<form *ngIf="getCodeSubmitted"
      (ngSubmit)="resetPasswordForm.form.valid && resetPassword()" #resetPasswordForm="ngForm"
      fxLayout="column" style="align-items: center;">
  <md-input-container>
    <input mdInput name="confirmCode" i18n-placeholder placeholder="Mã xác nhận" i18n-title title="Activation code"
           [(ngModel)]="confirmCode" required maxlength="36">
    <md-hint align="end">{{confirmCode && confirmCode.length || 0}}/36</md-hint>
  </md-input-container>
  <md-input-container>
    <input mdInput type="password" name="newPassword" i18n-placeholder placeholder="Mật khẩu mới" i18n-title title="New password"
           [(ngModel)]="newPassword" required maxlength="20">
    <md-hint align="end">{{newPassword && newPassword.length || 0}}/20</md-hint>
  </md-input-container>
  <md-input-container>
<input mdInput type="password" name="confirmPassword" i18n-placeholder placeholder="Xác nhận mật khẩu" i18n-title title="Confirm password"
       [(ngModel)]="confirmPassword" required maxlength="20">
<md-hint align="end">{{confirmPassword && confirmPassword.length || 0}}/20</md-hint>
</md-input-container>
<button md-raised-button type="submit" [disabled]="!resetPasswordForm.form.valid">Đổi mật khẩu</button>
</form>
