<md-toolbar color="primary" class="mat-elevation-z4">
  <md-toolbar-row fxLayoutGap="10px">
    <span fxFlex>{{title}}</span>
    <button md-raised-button type="button" (click)="approveRequest()">
      <md-icon>done</md-icon>
      <!--i18n-->Xác nhận<!--/i18n-->
    </button>
    <button md-raised-button (click)="goBack()">
      <md-icon>cancel</md-icon>
      <!--i18n-->Cancel<!--/i18n-->
    </button>
  </md-toolbar-row>
</md-toolbar>
<md-card class="app-content">
  <md-data-table [data]="requestMaterialDetails">
    <md-data-column i18n-title title="ID" field="materialId"></md-data-column>
    <md-data-column i18n-title title="Material Name" field="material.name"></md-data-column>
    <md-data-column i18n-title title="Material Type" field="material.typeStr"></md-data-column>
    <md-data-column i18n-title title="Unit" field="material.unit"></md-data-column>
    <md-data-column i18n-title title="Quantity" field="requestQuantity" [numeric]="true" [editable]="true"></md-data-column>
    <md-data-column title="Đã Xác Nhận" field="approvedQuantity" [numeric]="true"></md-data-column>
  </md-data-table>
</md-card>
